@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a;
    color: #f8fafc;
    font-family: 'Segoe UI', sans-serif;
    user-select: none;
    overflow: hidden;
}

/* Custom scrollbar hiding */
.scroll-hide::-webkit-scrollbar {
    display: none;
}

/* Specific drag region */
.drag-region {
    --wails-draggable: drag;
}
